body {
    background-color: #37383a;
    padding: 30px;
  }

h1 {
  font-weight: lighter;
  font-size: 50px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 20px;
}

#mood-form {
  
}

.jumbotron {
  background-color: #7c797952;
  text-align: center;
  color: lightgrey;
  font-weight: lighter;
}

label {
  font-size: 25px;
}

p {
  font-size: 25px;
  text-align: center;
  color: white;
}

#userInput {
  text-transform: uppercase;
  color: white;
}

#yoMood {
  display: none;
}
